div{
    width: 400px;
    height: 500px;
    text-align: center;
    background-color: rgb(232, 54, 196);
    margin: 10px auto;
    background-image: url(./ASSETS/Background.jpg);
    background-size: cover;
    color: rgb(98, 19, 234);
    text-decoration: underline;
}