section{
    margin-top: 100px;
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa974;
    border:2px solid black;
    margin:10px auto;
}
div:nth-of-type(2n){
    background-color: #f7db6a;
}
div:nth-of-type(3n){
    background-color: #ebb02d;
}


/* transform */

/* 1.rotate */
#one{
    transform: rotate(45deg);
}
/* 2 scale */
#two{
    /* transform: scale(0.5); */
    transform: scale(1.5,.5);
    /* along x and y */
}
/* 3 translate */
#three{
    transform: translate(-100px,-100px);
}
#four{
    transform: skew(35deg);
}
#five{
    transform: rotate(30deg) translate(100px);
}

